# sudo apt install libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0 ffmpeg python3-tk python3-dev
# sudo apt install portaudio19-dev libportaudiocpp0 espeak
# pip istall wheel
SpeechRecognition
pyaudio
pyttsx3
pywhatkit
wikipedia
pyjokes
