# sudo apt install libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0 ffmpeg
# sudo apt install portaudio19-dev libportaudiocpp0
SpeechRecognition
pyaudio
# pyttsx3
pywhatkit
wikipedia
pyjokes